

<div class="container" style="width:600px; margin-left: 100px;">
   <div class="row" style="background-color: #f8f8f8; border: solid #000; border-width: 1px;">
      <span class="col-lg-6">Beach Name</span>
      <span class="col-lg-6">Beach Score</span>
   </div>
   {{#each beach in model}}
   <div class="row">
      <span class="col-lg-6">{{beach.name}}</span>
      <span class="col-lg-6">{{beach.score}}</span>
   </div>
   {{/each}}

   {{add-beach newBeach="saveBeach"}}




</div>

Beaches footer here