

<div class="container">
   {{#each beach in model}}
   <div class="row">
      <div class="col-md-6">{{beach.name}}</div>
      <div class="col-md-6">{{beach.score}}</div>
   </div>
   {{/each}}
</div>


