{{#modal-dialog action="close"}}
{{input type="text" value=model.name placeholder="New Beach"}}
{{input type="text" value=model.score}}

<button {{action "closeModal" model}}>Add Beach</button>
{{/modal-dialog}}
